body {
    font-family: sans-serif;
    line-height: 1.4;
    margin: 0;
}

.shaper {
    max-width: 70em;
    margin: 0 auto;
}

#menu {
    width: 100%;
    background: #0074D9;
    font-size: 1em;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    float: left;
}

#menu li:last-child {
    float: right;
}

#menu li.active {
    background-color: #111;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #111;
}

footer {
    padding-bottom: 1em;
}
